.profileCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.4rem;
  width: 100%;
  max-height: 55rem;
  transform: rotateY(0deg);
  backface-visibility: hidden;
  background-color: var(--white);
  border-radius: inherit;
  position: relative;
}

.logo {
  position: absolute;
  left: 23px;
  top: 25px;
  width: 20%;
  height: auto;
  opacity: 85%;
}

.profile-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 45%;
  align-items: center;
  margin-top: 1rem;
}

.profile {
  object-fit: cover;
  border-radius: 50%;
  width: calc(40px + 25vw);
  height: calc(40px + 25vw);
  max-width: 150px;
  max-height: 150px;
  margin-bottom: 1.2rem;
  background-color: var(--snow);
}

.userId {
  display: inline-block;
  position: relative;
  font-weight: 700;
  font-size: clamp(1.1em, 5vw, 1.5em);
  text-transform: uppercase;
  color: var(--black);
}

.util-box {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2.4rem;
}

.util-box svg {
  transform: scale(1.8);
}

.divider {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
}
