.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 1.8rem;
  background-color: var(--black);
  width: 100%;
  height: 100%;
  max-width: 48rem;
  max-height: 65rem;
  height: 100%;
}

@media (min-width: 800px) {
  .wrapper {
    max-width: fit-content;
    max-height: fit-content;
    min-height: 80rem;
  }
}
